{% extends 'JazzywebAulasMentorAlimentosBundle::layout.html.twig' %}

 {% block contenido %}

{% if mensaje is defined %}
<b><span style="color: red;">{{ mensaje }}</span></b>
{% endif %}
    <br/>
    <form name="formInsertar" action="{{ path('JAMAB_insertar') }}" method="POST">
        <table>
            <tr>
                <th>Nombre</th>
                <td><input type="text" name="nombre" value="{{ nombre }}" /></td>
            </tr>
            <tr>
                <th>Energía (Kcal)</th>
                <td><input type="text" name="energia" value="{{ energia }}" /></td>
            </tr>
            <tr>
                <th>Proteina (g)</th>
                <td><input type="text" name="proteina" value="{{ proteina }}" /></td>
            </tr>
            <tr>
                <th>H. de carbono (g)</th>
                <td><input type="text" name="hc" value="{{ hc }}" /></td>
            </tr>
            <tr>
                <th>Fibra (g)</th>
                <td><input type="text" name="fibra" value="{{ fibra }}" /></td>
            </tr>
            <tr>
                <th>Grasa total (g)</th>
                <td><input type="text" name="grasa" value="{{ grasa }}" /></td>
            </tr>
               

        </table>
        <input type="submit" value="insertar" name="insertar" />
    </form>
    * Los valores deben referirse a 100 g del alimento

{% endblock %}