{% extends 'JazzywebAulasMentorAlimentosBundle::layout.html.twig' %}

  {% block contenido %}

  <h1>{{ nombre }}</h1>
  <table border="1">

      <tr>
          <td>Energía</td>
          <td>{{ energia }} </td>
      </tr>
      <tr>
          <td>Proteina</td>
          <td>{{ proteina }}</td>
      </tr>
      <tr>
          <td>Hidratos de Carbono</td>
          <td>{{ hidratocarbono }}</td>
      </tr>
      <tr>
          <td>Fibra</td>
          <td>{{ fibra }}</td>
      </tr>
      <tr>
          <td>Grasa total</td>
          <td> {{grasatotal}} </td>
      </tr>
  </table>

 {% endblock %}